/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Body styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #E3F2FD;
}

/* Wrapper styles */
.wrapper {
  position: relative;
  top: -60px;
  width: 90vmin; /* Adjusted for mobile-first */
  height: 115vmin; /* Adjusted for mobile-first */
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #293447;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

/* Game details styles */
.game-details {
  color: #B8C6DC;
  font-weight: 500;
  font-size: 1rem;
  padding: 15px 27px;
  display: flex;
  justify-content: space-between;
}

/* Play board styles */
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #212837;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

/* Food cell styles */
.play-board .food {
  background: #FF003D;
}

/* Head cell styles */
.play-board .head {
  background: #60CBFF;
}

/* Controls styles */
.controls {
  display: flex;
  justify-content: center;
  position: relative;
  top: -20px;
  width: 100%;
  height: 20%;
  text-align: center;

}

/* Control icon styles */
.controls i {
  background-color: #cee5f1;
  border-radius: 10px;
  padding: 15px 30px;
  text-align: center;
  font-size: 1rem;
  color: #000000;
  /* width: calc(100% / 4); */
  cursor: pointer;
  
}
.controls i:first-of-type {
  align-self: center;
  border-top-right-radius: 50%;
  border-bottom-right-radius:50%;
  margin-right: 10px;
}
.controls i:nth-of-type(2) {
  padding: 20px 17px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 70px;
  
  
}
.controls i:nth-of-type(3) {
  align-self: center;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-left: 10px;
}
.controls i:nth-of-type(4) {
  position: absolute;
  bottom: 0;
  padding: 23px 15px;
  margin-top: 20px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
/* Media query for larger screens */
@media screen and (min-width: 701px) {
  body {
    flex-direction: row;
  }
  .wrapper {
    top: 0px;
    width: 65vmin;
    height: 70vmin;
  }
  .game-details {
    font-size: 1.2rem;
    padding: 20px 27px;
  }
  .controls {
    display: none;
  }
  .controls i {
    padding: 25px 0;
    font-size: 1.3rem;
  }
}
