* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px 15px;
    padding-bottom: 0;
    max-width: 430px;
    box-shadow: 0 0 10px #000;
}


.answer {
    width: 100%;
    height: 26%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 65px;
    word-break: break-all;
    white-space: pre-wrap;
    text-align: right;
}
#back {
    display: block;
    margin: 0;
    text-align: right;
    margin-left: auto;
    padding: 0 25px;
    padding-bottom: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
#back:active {
   color: lightgray;
}
.calculator {
    width: 100%;
    height: 68%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1px;
    padding-bottom: 10px;
}

.calculator button {
    width: 90%;
    height: 90%;
    font-size: 38px;
    border-radius: 50%;
    font-weight: 500;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: 0.2s ease-in-out;
}
button[value="0"] {
    grid-column: span 2;
    border-radius: 50px;
    text-align: left;
    padding-left: 30px;
}
button[value="."] {
    font-size: 20px;
}

.calculator button:nth-child(-n+3) {
    background-color: rgb(165, 165, 165);
    color: black;
}
.calculator button:nth-child(-n+3):active {
    background-color: rgb(211, 211, 211);
    transition: .5s ease;
}

.calculator button:nth-child(n+5) {
    background-color: rgb(51, 51, 51);
}
.calculator button:nth-child(n+5):active {
    background-color: rgb(102, 102, 102)
}

.calculator button:nth-child(4n+4), 
.calculator button:last-child {
    background-color: rgb(19, 126, 105);
    font-size: 30px;
}
.calculator button:nth-child(4n+4):active, 
.calculator button:last-child:active {
    background-color: rgb(29, 176, 145);
}

.calculator button:nth-child(4n+4).active-operator {
    background-color: #fff;
    color: rgb(19, 126, 105);
}


@media screen and (min-width: 700px) {
    body {
        background-color: #ffffff;
    }
    .container {
        height: 750px;
        border-radius: 10px;
    }
}
